:root {
  --btn-size: 2em;

  --clr-neutral-200: hsl(0, 0%, 35%);
  --clr-neutral-300: hsl(0, 0%, 25%);
  --clr-neutral-400: hsl(0, 0%, 15%);
  
  --clr-primary-200: hsl(0, 0%, 73%);
  --clr-primary-300: hsl(0, 0%, 54%);
  --clr-primary-400: hsl(0, 0%, 55%);

  --clr-accent-200: hsl(32, 98%, 90%);
  --clr-accent-300: hsl(32, 98%, 71%);
  --clr-accent-400: hsl(32, 98%, 52%);

  --fs-700: 1.75rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --gap: 0.2em;

  --fs: 2.5rem;
}

body {
  background-color: #DDD;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs);
}

main {
  padding: 0.25em;
  background-color: black;
  width: min(80vw, 375px);
  height: min(80vh, 675px);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#display {
  color: white;
  font-size: 4.5rem;

}

#keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--gap);
}

.btn {
  transition-duration: 0.4s;
}

.btn {
  border-radius: 50%;
  height: var(--btn-size);
  width: var(--btn-size);
  border: none;

  color: white;
  background-color: var(--clr-neutral-400);
}

.btn:hover {
  background-color: var(--clr-neutral-300);
}

.btn:active {
  background-color: var(--clr-neutral-200);
}

.btn-primary {
  background-color: var(--clr-primary-400);
}
.btn-primary:hover {
  background-color: var(--clr-primary-300);
}
.btn-primary:active {
  background-color: var(--clr-primary-200);
}

.btn-accent {
  background-color: var(--clr-accent-400);
}

.btn-accent:hover {
  background-color: var(--clr-accent-300);
}

.btn-accent:active {
  background-color: var(--clr-accent-200);
}

.span-2 {
  grid-column: span 2;
  border-radius: 9999px;
  text-align: left;
  padding-left: 0.75em;
  width: calc(2 * var(--btn-size) + var(--gap));
}
